<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ProxyUrl" value="http://bmproxy:3128"/>
    <add key="ProxyUsername" value="testuser"/>
    <add key="ProxyPassword" value="!user_123"/>

  </appSettings>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>